ServerAliveInterval 60
TCPKeepAlive no

Host *
    ControlMaster auto
    ControlPath /tmp/ssh_connection_%h_%p_%r.sock
    ControlPersist 72h
    ForwardAgent yes

Host gitlab.alipay-inc.com
    IdentityFile ~/.ssh/id_rsa
    User xingwei.hj

Host loginmua.mybank.cn
    IdentityFile ~/.ssh/id_rsa
    User xingwei.hj

Host github.com
    IdentityFile ~/.ssh/id_rsa
